body
{
    background-color: rgb(97, 89, 89);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainpage
{
    background-image: url(gradient.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.disneypluspage
{
    background-image: url(disneyplus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.netflixpage
{
    background-image: url(netflix.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.topbar
{
    overflow: hidden;
    background-color: #333;
}

.topbar a 
{
    float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
}

.topbar a:hover
{
    background-color: rgb(29, 28, 28);
}

.topbar a.home
{
    background-color: green;
}

a.dtac
{
    position: relative;
    margin-top: 20%;
    font-size: 24px;
    border-color: black;
    border: 10px;
    background-color: greenyellow;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    margin-left: 43%;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid black;
    opacity: 0.6;
    transition: 0.3s;
}

a.dtac:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

a.generator
{
    position: relative;
    margin-top: 20%;
    font-size: 24px;
    border-color: black;
    border: 10px;
    background-color: greenyellow;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    margin-left: 43%;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid black;
    opacity: 0.9;
    transition: 0.3s;
}

a.generator:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}